%header
  %logo
    = link_to image_tag("rails.png"), root_path
  %ul
    %li= link_to "My Items", root_path
    %li= link_to "Categories", categories_path
    %li= link_to "Locations", locations_path